<header>
  <app-group></app-group>
  <div fxFlex="90">
    <h1>Bienvenue dans l'univers de la Coupe du Monde 2022 !</h1>
    <p>Plongez au cœur de l'action et découvrez les moments forts et les histoires inspirantes de cette édition historique.</p>
  </div>
  <div class="buttons">
    <button class="btn-edit" mat-icon-button [routerLink]="['./profile']">
      <mat-icon aria-label="Modifier">account_circle</mat-icon>
    </button>
    <button class="btn-edit" mat-icon-button (click)="onLogout()">
      <mat-icon aria-label="Modifier">logout</mat-icon>
    </button>
  </div>


</header>
<main>
  <div *ngFor="let article of articlesList" class="article-card">
    <mat-card>
      <mat-card-content fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="20">
          <img mat-card-image src="{{ article.picture }}" alt="Article picture">
        </div>
        <div fxFlex="80">
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>{{ article.description }}</mat-card-subtitle>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</main>


