<div class="background">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Modification de Mot de passe</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <mat-form-field appearance="outline">
            <mat-label>Ancien Mot de passe</mat-label>
            <input matInput formControlName="previousPassword" placeholder="Entrez votre ancien mot de passe" type="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nouveau Mot de passe</mat-label>
            <input matInput formControlName="newPassword" placeholder="Entrez votre nouveau mot de passe" type="password">
          </mat-form-field>
          <div class="button">
            <button mat-raised-button type="submit">Modifier</button>
          </div>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

